export("database<-")
export(database)
export(getMSGFpar)
export(msgfPar)
export(msgfParFromID)
export(runMSGF)
exportClasses(msgfPar)
import(methods)
importFrom(mzID,mzID)
importFrom(mzID,mzIDparameters)
